body {
  background: #38383D;
  color: white;
  width: 760px;
  margin: 10px 10px 45px 10px;
}
body hr {
  background-color: black;
}
body #popup .navbar ul {
  padding-left: 0;
}
body #popup .navbar ul li {
  display: inline;
  margin: 10px 9px 10px 0;
  font-size: 14px;
  font-weight: 600;
  color: #CFCFD1;
  cursor: pointer;
  user-select: none;
}
body #popup .navbar ul li.active {
  color: #2fbe54;
}
body #popup .content .letter {
  display: none;
  max-width: 780px;
  flex-wrap: wrap;
}
body #popup .content .letter td {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px 14px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
body #popup .content .letter td:hover {
  box-shadow: inset 0 0 6px 0;
}
body #popup .content .letter td:active {
  box-shadow: inset 0 0 6px 0 red;
}
body #popup .content .letter.active {
  display: flex;
}
body #option {
  margin-left: 10px;
}
body #option .navbar {
  padding-left: 0;
}
body #option .navbar li {
  display: inline;
  margin: 10px 9px 10px 0;
}
body #option .navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #CFCFD1;
}
body #option .navbar li a.active {
  color: #2fbe54;
}
body #option #reset_button {
  cursor: pointer;
  background: #b52f2f;
  padding: 14px;
  border: none;
  box-shadow: 0px 0px 0px 1px #b52f2f45;
  border-radius: 5px;
  font-weight: bold;
  color: #cfcfd1;
  outline: none;
}
body #option #reset_button:hover {
  box-shadow: 0px 0px 8px 0px #00000045;
}
body #option .content {
  display: none;
}
body #option .content.active {
  display: block;
}
body #option .content._doc {
  margin-top: 30px;
}
body #option .content._doc p, body #option .content._doc li {
  color: #cfcfd1;
}
body #option .content._doc h2 {
  margin-top: 40px;
  color: #b52f2f;
  text-decoration: underline;
}

/*# sourceMappingURL=global.css.map */
