body {
    background: #38383D;
    color: white;
    width: 760px;
    margin: 10px 10px 45px 10px;

    hr {
        background-color: black;
    }

    #popup {
        .navbar {
            ul {
                padding-left: 0;
                li {
                    display: inline;
                    margin: 10px 9px 10px 0;
                    font-size: 14px;
                    font-weight: 600;
                    color: #CFCFD1;
                    cursor: pointer;
                    user-select: none;
        
                    &.active {
                        color: #2fbe54;
                    } 
                }
            }
        }
        .content {
            .letter {
                display: none;
                max-width: 780px;
                flex-wrap: wrap;
                    
                td {
                    user-select: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    padding: 10px 14px;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
        
                    &:hover {
                        box-shadow: inset 0 0 6px 0;
                    }
                
                    &:active {
                        box-shadow: inset 0 0 6px 0 red;
                    }
                }
    
                &.active {
                    display: flex;
                }
            }
        }   
    }
    
    #option {
        margin-left: 10px;
        .navbar {
            padding-left: 0;
            li {
                display: inline;
                margin: 10px 9px 10px 0;
                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    color: #CFCFD1;
        
                    &.active {
                        color: #2fbe54;
                    }
                } 
            }
        }
    
        #reset_button {
            cursor: pointer;
            background: rgb(181 47 47);
            padding: 14px;
            border: none;
            box-shadow: 0px 0px 0px 1px #b52f2f45;
            border-radius: 5px;
            font-weight: bold;
            color: #cfcfd1;
            outline:none;
    
            &:hover {
                box-shadow: 0px 0px 8px 0px #00000045;
            }
        }
        
        .content {
            display: none;
        
            &.active {
                display: block;
            }
            
            &._doc {
                margin-top: 30px;
                p, li {
                    color: #cfcfd1;
                }
                h2 {
                    margin-top: 40px;
                    color: rgb(181 47 47);
                    text-decoration: underline;
                }
            }
        }
    }    
}